.use{
    position:fixed;
    left:0;
    bottom:20px;

    background-color:gold;
    height:100px;
}

.use .zhu h3{
    display:block;
    text-align:center;
    font:bolder 15px/30px 'Microsoft Yahei';
    color:#000;
    background-color:red;
    cursor:pointer;
}

.use .zhu p{
    padding:5px 15px;
    display:block;
    text-align:center;

}